 .home-container {
  padding: 100px 20px;
  background-color: #121212;
  color: #eeeeee;
  display: flex;
  justify-content: center;
}

.home-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1100px;
  width: 100%;
  flex-wrap: wrap;
  gap: 40px;
}

.text-content {
  flex: 1;
  min-width: 300px;
}

.text-content h1 {
  font-size: 3rem;
  color: #ffffff;
  margin-bottom: 20px;
}

.text-content p {
  font-size: 1.2rem;
  color: #bbbbbb;
}

.image-content {
  flex: 1;
  min-width: 300px;
  display: flex;
  justify-content: center;
}

.image-content img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}
